@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

root {
    --primary : #2e2e2e;
    --secondary: #eeb236;
    --text : #e3e3e3;
    --blue-text : #87a5df;
}

body {
    font-family: 'Raleway', sans-serif !important;
    background: #2e2e2e;
}

.btn-primary {
    background: #eeb236;
    color: white;
    border: transparent;
}

.blue-text {
    color: #87a5df !important;
}

.border-1 {
    border: 1px solid white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer {
    background: #E4AF21;
    color: #fff;
    padding: 3rem 1.5rem; }
  
  .footer a {
    color: #fff; }

    .figure img {
        width: 100%;
        height: 300px;
      }
      
      .image {
        display: block;
        position: relative;
      }
      
      .image img {
        display: block;
        height: auto;
        width: 100%;
      }
      
      .image__64x64 {
        height: 64px;
        width: 64px;
      }
      
      .image__90x90 {
        height: 90px;
        width: 90px;
      }
      
      .image__128x128 {
        height: 128px;
        width: 128px;
      }
      
      .image__200x256 {
        height: 200px;
        width: 256px;
      }
      
      .image__32x32 {
        height: 32px;
        width: 32px;
      }

/* Header */

.header-logo {
    margin-bottom: 0 !important
}

.jatra-kingdom-main-header {
    background: #2e2e2e;
    padding: 0 !important
}

.jatra-kingdom-mini-header {
    background: #eeb236
}

/*Logo*/
.jatra-logo {
    height: 150px;
    max-width: 20rem;
    width: 20rem !important
}

/* LOGIN MODAL */

.login-modal{
    min-height: 400px;
}

.banner-image-height {
    height: 60vh;
    border-radius: 10px;
}

.mini-poster-image {
    min-height: 50vh;
    width: 100%;
}

.carousel-control-next-icon {
    padding: 20px;
    border: 2px solid gainsboro;
    border-radius: 50%;
}

.carousel-control-prev-icon {
    padding: 20px;
    border: 2px solid gainsboro;
    border-radius: 50%;
}

.carousel-cards {
    border: 0;
}

.carousel-cards img {
    height: 300px;
}

/*Vertical Text*/

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

/*star of the day section*/

.star-of-the-day-card {
    background: #2e2e2e;
}

.star-of-the-day-poster-image {
    height: 60vh;
    width: 100%;
}

.star-of-the-day-post-image {
    height: 60vh;
    width: 90%;
}

/*icons section*/

.icons-section {
    background: #87a5df;
    padding: 3rem;
    color: white
}

.icon-sections__images {
    height: 60px;
    width: 60px;
}

.footer-section__images {
  height: 60px;
  width: 100px;
  margin-right: 20px;
}

/*Model kits section*/

.plastic-model-kits-section {
    background: transparent;
    color: white;
}

/*Full size poster*/

.full-size-poster-container {
    position: relative;
    text-align: right;
    color: white;

}

.full-size-poster {
    width: 100%;
    height: 60vh;
}

.centered-right {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 25%;
    color: #eeb236;
    font-weight: bold
}

/*Shop by card container*/

.shop-by-character-card-image {
    min-height: 40vh;
}


/* Careers page  */

.careers-card-body {
    background:#2e2e2e ;
    color: white;
    border-bottom: 1px solid white
}


/* commission work */

/* Product Page */

.product-page a {
    color: #eeb236
}

.product-page .breadcrumb {
    background: transparent;
    color: white;
}

.product-page .breadcrumb a {
    color: white;
}

.product-gallery-images {
    opacity: 0.8;
    cursor: pointer;
    height: 80px;
    width: auto;
    margin: 5px 10px;
  }
  
  .product-gallery-images:hover {
    opacity: 1;
  }

  #expandedImg {
      height: 50vh;
  }

  .color-boxes {
      margin-top: 10px;
      height: 20px;
      width: 20px;
      display: inline-block;
  }

  .boxed-span {
    border: 1px solid gainsboro;
    color: black !important;
  }

  .checkout-box-badges {
    transform: translate(-41px, 37px);
    font-size: 1rem;
    background: linear-gradient(90deg,#5082e4,#52bcf8);
    color: white;
    width: 40px;
    height: 40px;
    padding: 7px 16px;
    border-radius: 50%;
}


.is-size-1 {
    font-size: 3rem !important; }
  
  .is-size-2 {
    font-size: 2.5rem !important; }
  
  .is-size-3 {
    font-size: 2rem !important; }
  
  .is-size-4 {
    font-size: 1.5rem !important; }
  
  .is-size-5 {
    font-size: 1.25rem !important; }
  
  .is-size-6 {
    font-size: 1rem !important; }
  
  .is-size-7 {
    font-size: 0.75rem !important; }
  
  @media screen and (max-width: 768px) {
  .is-size-1-mobile {
    font-size: 3rem !important; }
  .is-size-2-mobile {
    font-size: 2.5rem !important; }
  .is-size-3-mobile {
    font-size: 2rem !important; }
  .is-size-4-mobile {
    font-size: 1.5rem !important; }
  .is-size-5-mobile {
    font-size: 1.25rem !important; }
  .is-size-6-mobile {
    font-size: 1rem !important; }
  .is-size-7-mobile {
    font-size: 0.75rem !important; } }
  
  @media screen and (min-width: 769px), print {
  .is-size-1-tablet {
    font-size: 3rem !important; }
  .is-size-2-tablet {
    font-size: 2.5rem !important; }
  .is-size-3-tablet {
    font-size: 2rem !important; }
  .is-size-4-tablet {
    font-size: 1.5rem !important; }
  .is-size-5-tablet {
    font-size: 1.25rem !important; }
  .is-size-6-tablet {
    font-size: 1rem !important; }
  .is-size-7-tablet {
    font-size: 0.75rem !important; } }
  
  @media screen and (max-width: 1023px) {
  .is-size-1-touch {
    font-size: 3rem !important; }
  .is-size-2-touch {
    font-size: 2.5rem !important; }
  .is-size-3-touch {
    font-size: 2rem !important; }
  .is-size-4-touch {
    font-size: 1.5rem !important; }
  .is-size-5-touch {
    font-size: 1.25rem !important; }
  .is-size-6-touch {
    font-size: 1rem !important; }
  .is-size-7-touch {
    font-size: 0.75rem !important; } }
  
  @media screen and (min-width: 1024px) {
  .is-size-1-desktop {
    font-size: 3rem !important; }
  .is-size-2-desktop {
    font-size: 2.5rem !important; }
  .is-size-3-desktop {
    font-size: 2rem !important; }
  .is-size-4-desktop {
    font-size: 1.5rem !important; }
  .is-size-5-desktop {
    font-size: 1.25rem !important; }
  .is-size-6-desktop {
    font-size: 1rem !important; }
  .is-size-7-desktop {
    font-size: 0.75rem !important; } }
  
  .title.is-1 {
    font-size: 3rem;
  }
  
  .title:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
  }
  
  .subtitle.is-4 {
    font-size: 1.5rem;
  }

  /* Reedit */

  .carousel-multi-item {
    background: transparent;
    color: white;
  }

  .card , .card-body {
    background: #2e2e2e;
    color: white;
    border: 0;
  }
  
  img.card-img-top {
    height: 200px;
}
  

.carousel-cards:hover {
  box-shadow: 0 0 8px 4px #cccccc;
  transform: translateY(-10px);
}

@media (max-width: 1600px) {
  body {
    font-size: small;
  }
 }