
 @media (max-width: 1920px) {

}

@media (max-width: 1440px) {
    .mini-poster-image {
       min-height: 50vh;
       height: 610px;
   }
}

@media (max-width: 1200px) { 
    .mini-poster-image {
        min-height: 60vh;
        height: 660px;
    }
 }


@media (max-width: 576px) { 
    
}

@media (max-width: 768px) { 

 }

@media (max-width: 992px) { 

 }
